.mainblock__chats__chat{ "data-message-id": "#{message.id}"}
  .mainblock__chats__chat__nickname
    = message.user.name
  .mainblock__chats__chat__date
    = message.created_at.strftime("%Y/%m/%d %H:%M")
  .mainblock__chats__chat__message
    = message.content if message.content.present?
  .mainblock__chats__chat__image
    = image_tag message.image.url if message.image.present?
